body {
    margin: 0;
    font-family: Arial;
    background: Red;
}

header {
    padding: 15px;
    background:black;
    color: white;
    text-align: center;
}

header input {
    padding: 8px;
    width: 70%;
    max-width: 300px;
}

nav {
    background: #222;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 120px;
    height: auto;
}

.btn {
    display: block;
    background: black;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 5px 0;
}

footer {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

footer input, footer textarea {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1f1f1f;
}